body{
    background-image: url(dame-una-imagen-de-una-bandera-roja-que-lleve-escr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contenedor {
 width: 700px;
 height: 400px;
 margin: 200px auto;
 text-align: center;
 ´padding: min(5em, 8%);
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.conteinor {
  width: 700px;
 height: 500px;
 margin: 200px auto;
 text-align: center;
 margin-top: 60%;
}
.gless{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
a {
    text-decoration: none;
    color: #1d3557; /* Color principal del enlace */
    font-size: 1000px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 0.5rem 0;
    transition: color 0.3s ease; /* Transición suave del color */
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #457b9d; /* Color del subrayado */
    transition: width 0.3s ease; /* Transición del subrayado */
  }
  
  a:hover {
    color: #010000; /* Color al pasar el cursor */
  }
  
  a:hover::after {
    width: 100%; /* Ancho completo del subrayado en hover */
  }
  div a {
    text-decoration: none;
    color: #1d100a;
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    margin: 0.5rem; /* Espaciado entre los enlaces */
    transition: color 0.3s ease;
  }
  
  div a:hover {
    color: #e63946;
  }
  h1 {
    font-family: 'Arial', sans-serif; /* Fuente moderna */
    font-size: 3rem; /* Tamaño reducido */
    color: #000000; /* Color principal */
    text-align: center; /* Centrado */
    text-transform: uppercase; /* Convertir a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras reducido */
    margin: 10px 0; /* Espaciado superior e inferior reducido */
    position: relative; /* Para efectos con ::after */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
  }
div img{
  height: 150px;
  margin: 100px;
  margin-top: 5px;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
}